*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

/* Parte de cima do site */

header{
    background-color: #005CA9;
    color: white;
    display: flex;
    /* Quebra as linhas */
    flex-wrap: wrap;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 2px 2px 4px rgb(1, 1, 0);
}

/* Lado esquerdo do site */

/* essa parte é responsvavel por deixar tudo alinhado à esquerda */
#ladoEsquerdo {
  display: flex;
  gap: 20px;
  align-items: center;
}

#links{
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 30px;
  margin-left: 25px;
}

#logo{
    margin-left: 50px;
}

#menuDaCaixa{
    display: flex;
    height: 40px;
    width: 40px;
}

#butaoDoMenu{
    font-size: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

#menu{
    cursor: pointer;
    color: white;
    position: absolute;
    margin: 30px;
    padding: 5px 5px;
}

.texto{
    color: white;
    font-size: 14px;
    font-weight: bold;
    white-space: nowrap;
    /* Impede a quebra da linha */
    letter-spacing: 1px;
}

.texto:hover{
    text-decoration: underline;
}

.link{
    color: white;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}

/* Lado direito do site */

#ladoDireito{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
}

#busca {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  width: 230px;
  height: 35px;
  border-bottom: 1px solid white;
}

#inputBusca{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px;
    background-color: transparent;
    color: white;
}

input::placeholder {
  color: white;
}

#cadastro{
    justify-content: center;
    padding: 10px;
    gap: 4px;
    background-color: white;
    cursor: pointer;
    color: #005CA9;
    border: rgb(0, 92, 169);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(1, 1, 0);
}

#cadeado6{
    display: none;
}

#cadastro:hover{
    #cadeado6{
        display: flex;
        padding: 2px 2px;
    }
    #cadeado{
        display: none;
    }
    text-decoration: underline;
    background-color: #005CA9;
    color: white;
}

/* Parte de baixo do site */

/* main{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(../image/cartao.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    align-items: center;
} */

#banner {
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url(../image/cartao.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    align-items: center;
    align-items: flex-start;
}

#bannerTexto{
    margin: 100px;
    font-size: large;
}

#titulo{
    color: rgb(251, 251, 178);
    letter-spacing: 1px;
}

#subtitulo{
    color: white;
    letter-spacing: 1px;
}

#descricao{
    color: white;
    padding: 50px 0px;
}

#butaoBanner{
    cursor: pointer;
    width: 150px;
    height: 50px;
    padding: 10px 10px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    box-shadow: 2px 2px 4px rgb(1, 1, 0);
}

#butaoBanner:hover{
    color: #005CA9;
    background-color: white;
    box-shadow: 2px 2px 4px rgb(1, 1, 0);
}

/* Parte embaixo do banner */

#acessosRapidos {
    /* Faz o título e as caixas ficarem em coluna */
    /* flex-direction: column;  */
    align-items: center; 
    display: flex;
    justify-content: center;
    margin-top: -150px;
}

#tituloAcessos{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
    margin: 0;
    color: #005CA9;
    justify-content: end;
}

.pai{
    width: 800px;
    height: 400px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.acessos{
    margin: 10px;
    width: 100px;
    height: 100px;
    background-color: rgb(61, 182, 135);
}

 /* Footer */
 
footer{
    background-color: #005CA9;
    text-align: center;
    color: white;
    padding: 10px;
    width: 100%;
}